@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("./navbar.css");

.title__contatos {
    text-align: center;
    color: #3d3d3d;
    font-size: 2.5rem;
    font-family: var(--fonte);
}

.title__contatos em {
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}    

.subtitulo {
    text-align: center;
    margin-top: 3.125rem;
    line-height: 1.5rem;
    font-family: var(--fonte);
    font-size: 1rem;
    color: var(--cor-fonte-terciaria);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 7rem;
    gap: 1rem;
}

.primeiro__nome {
    display: flex;
    background-color: white;
    width: 18.75rem;
    height: 4rem;
    border-radius: 0.75rem;
    border: 0.125rem solid var(--azul-primario);
    align-items: center;
}

.email {
    display: flex;
    background-color: white;
    width: 18.75rem;
    height: 4rem;
    border-radius: 0.75rem;
    border: 0.125rem;
    border: 0.125rem solid var(--azul-primario);
    align-items: center;
}

.contacte-nos {
    display: flex;
    background-color: #00A4F4;
    width: 15rem;
    height: 4rem;
    border-radius: 0.75rem;
    border: 0.125rem;
    align-items: center;
    margin: 0;
}

.primeiro__nome p {
    font-size: 1rem;
    margin: 0;
    color: var( --cor-fonte-terciaria);
    white-space: nowrap;

}

.email p {
    font-size: 1rem;
    margin: 0;
    color: var( --cor-fonte-terciaria);
    white-space: nowrap;
}

.contacte-nos p {
    padding: 1rem;
    padding-right: 0;
    font-size: 1.5rem;
    width: 11rem;
    color: white;
    white-space: nowrap;
    margin: 0;
}

.primeiro__nome img {
    padding: 2rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
}

.email img {
    padding: 2rem;
    width: 2.5rem;
    height: 2rem;
    margin: 0;
}

.contacte-nos img {
    width: 2rem;
    height: 2rem;
    margin: 0;
}

.rodape {
    width: 100%;
    height: 27rem;
    background-color: var(--branco-azulado);
}

.logo img {
    width: 5.5987rem;
    height: 5.75rem;
    padding-left: 4.5rem;
    margin-top: 5rem;

}

.nome__empresa {
    color: #0069AB;
    padding-left: 4.5rem;
    font-size: 2.625rem;
}

.subtitulo__empresa {
    font-family: var(--fonte);
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 3rem;
    padding-left: 4.5rem;
    color: #6D6D6D;
}

.container__rodape {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 15rem;
    gap: 10rem;

}

.suporte__title {
    font-family: var(--fonte);
    font-size: 1rem;
    color: var(--azul-primario);
    text-align: center;
    margin-top: -20rem;
    
    
}

.servicos__title {
    font-family: var(--fonte);
    font-size: 1rem;
    color: var(--azul-primario);
    text-align: center;
    margin-top: -20rem;
}


.juridico__title {
    font-family: var(--fonte);
    font-size: 1rem;
    color: var(--azul-primario);
    text-align: center;
    margin-top: -20rem;
}

.container__rodape em {
    font-family: var(--fonte);
    font-size: 1rem;
    line-height: 3rem;
    color: #6D6D6D;
    text-align: start;
}

hr {
    border: 0.07rem solid #b6e6ff;
    width: 86rem;
}

.container__logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4.5rem;
    gap: 1rem;
}

.container__logos img {
    width: 1.5rem;
    height: 1.5rem;
}

.container__logos p {
    padding-left: 21rem;
    font-family: var(--fonte);
    font-size: 1rem;
    color: #b0b0b0;
}