@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("./navbar.css");

.title__contatos {
    text-align: center;
    color: #3d3d3d;
    font-size: 2.5rem;
    font-family: var(--fonte);
}

.title__contatos em {
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}    

.subtitulo {
    text-align: center;
    margin-top: 3.125rem;
    line-height: 1.5rem;
    font-family: var(--fonte);
    font-size: 1rem;
    color: var(--cor-fonte-terciaria);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.primeiro__nome {
    display: flex;

    background-color: white;
    width: 18.75rem;
    height: 4rem;
    border-radius: 0.75rem;
    border: 0.125rem solid var(--azul-primario);
    align-items: center;
}

.email {
    display: flex;
    background-color: white;
    width: 18.75rem;
    height: 4rem;
    border-radius: 0.75rem;
    border: 0.125rem;
    border: 0.125rem solid var(--azul-primario);
    align-items: center;
}

.contacte-nos {
    display: flex;
    background-color: #00A4F4;
    width: 15rem;
    height: 4rem;
    border-radius: 0.75rem;
    border: 0.125rem;
    align-items: center;
    margin: 0;
}

.primeiro__nome p {
    font-size: 1rem;
    padding-left: 1rem;
    margin: 0;
    color: var( --cor-fonte-terciaria);
    gap: 5rem;
}

.email p {
    font-size: 1rem;
    padding-left: 1rem;
    margin: 0;
    color: var( --cor-fonte-terciaria);
}

.contacte-nos p {
    padding: 1rem;
    padding-right: 0;
    font-size: 1.5rem;
    width: 11rem;
    color: white;
    white-space: nowrap;
    margin: 0;
}

.primeiro__nome img {
    padding: 2rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
}

.email img {
    padding: 2rem;
    width: 2.5rem;
    height: 2rem;
    margin: 0;
}

.contacte-nos img {
    width: 2rem;
    height: 2rem;
    margin: 0;
}
