.depoimentos__title {
  text-align: center;
  margin-top: 3rem;
  font-size: 2.5rem;
  font-family: var(--fonte);
  color: var(--cor-fonte-primaria);
  line-height: 1.25;
  font-weight: 700;
}

.depoimentos__title em {
  background-image: var(--azul-gradiente-texto);
  background-clip: text;
  color: transparent;
}

.depoimentos__descricao {
  text-align: center;
  margin-top: 2.5rem;
  font-size: 1rem;
  font-weight: 15rem;
  line-height: 1.5rem;
  color: #B0B0B0;
}

.depoimento__linda {
  width: 37rem;
  height: 9.5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 1.25rem;
  border: solid 2px var(--azul-primario);
  background-color: var(--branco-azulado);
  
}

.div_depoimento_linda {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 3.125rem;
  margin-bottom: 2.825rem;
  margin-left: 14rem;
  position: relative;
  border-color: var(--azul-gradiente-texto);
}

.foto_linda {
  width: 4.75rem;
  height: 4.75rem;
  top: 2.5rem;
  left: 2.5rem;
  border-radius: 3rem;
  padding: 2.25rem;
  float: left;
  margin-right: 21.875rem;
}

.alinhar__depoimento__linda {
  color: #6D6D6D;
  font-family: var(--fonte);
  font-size: 1rem;
  margin-left: 9rem;
  width: 20.938rem;
  margin-top: -8.25rem;
  line-height: 1.5rem;
}

.texto__negrito {
  color: #414040f1;
  font-family: var(--fonte);
  font-size: 1rem;
}

.div__depoimento__henry {
  background-color: #0179b4;
  width: 37rem;
  height: 9.5rem;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-left: 41.5rem;
  margin-top: -8.5rem;
  border-radius: 1.25rem;
  border: solid 2px var(--azul-primario);
  background-color: var(--branco-azulado);
}