.depoimentos__title {
  text-align: center;
  margin-top: 3rem;
  font-size: 2.5rem;
  font-family: var(--fonte);
  color: var(--cor-fonte-primaria);
  line-height: 1.25;
  font-weight: 700;
}

.depoimentos__title em {
  background-image: var(--azul-gradiente-texto);
  background-clip: text;
  color: transparent;
}

.depoimentos__descricao {
  text-align: center;
  margin-top: 2.5rem;
  font-size: 1rem;
  font-weight: 15rem;
  line-height: 1.5rem;
  color: #B0B0B0;
}

.foto_depoimento {
  width: 4.75rem;
  height: 4.75rem;
  top: 2.5rem;
  left: 2.5rem;
  border-radius: 3rem;
  padding: 2.25rem;
  float: left;
  margin-right: 21.875rem;
}

.top_horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3.125rem;
  margin-bottom: 2.825rem;
  position: relative;
}

.depoimento__linda {
  background-color: #0179b4;
  width: 31.938rem;
  height: 9.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.25rem;
  margin-left: -50rem;
  margin-top: 3.5rem;
  border: solid 2px var(--azul-primario);
  background-color: var(--branco-azulado);
}

.depoimento__linda p {
  color: #6D6D6D;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: left;
  padding: 0.2rem;
  padding-left: 4rem;
  margin-top: -8.5rem;
}

.depoimento__henry {
  width: 23.125rem;
  height: 17.5rem;
  border-radius: 2.8125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px var(--azul-primario);
  background-color: var(--branco-azulado);
}