@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("./navbar.css");
@import url("./serviços.css");

.servicos__title {
    text-align: center;
    margin-top: 3rem;
    font-size: 2.5rem;
    font-family: sans-serif;
    color: #3d3d3d;
}

.servicos__title em {
    background-image: linear-gradient(90deg, #88d8ff 12%, #0179b4 100%);
    background-clip: text;
    color: transparent;
}

.descricao {
    text-align: center;
    margin-top: 2.5rem;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 15;
    line-height: 1.5rem;
    color: #b0b0b0;
}

.top__horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.125rem;
    margin-bottom: 45px;
    position: relative;
}

.consultas__online {
    background-color: #0179b4;
    width: 35.4375rem;
    height: 17.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marcacao_de_consultas {
   background-color: aqua;
   width: 23.125rem;
   height: 17.5rem;
   border-radius: 2.8125rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.down__horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.125rem;
    margin-top: 2.8125rem;
}

.receitas {
    background-color: brown;
    width: 18.6875rem;
    height: 16.25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atestados__medicos {
    background-color: blueviolet;
    width: 18.6875rem;
    height: 16.25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orientacao {
    background-color: #3d3d3d;
    width: 18.6875rem;
    height: 16.25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.camera__consultas {
    width: 2.75rem;
    height: 2.75rem;
    top: 2.5rem;
    left: 2.5rem;
    border-radius: 1rem;
    padding: 1rem;
}

.calendario__consultas {
    width: 3rem;
    height: 3rem;
    top: 2.5rem;
    left: 2.5rem;
    border-radius: 1rem;
    padding: 1rem;
}

.receitas__consultas {
    width: 2.5rem;
    height: 2.5rem;
    top: 2.5rem;
    left: 2.5rem;
    border-radius: 1rem;
    padding: 1rem;
}

.prancheta {
    width: 2.75rem;
    height: 2.75rem;
    top: 2.5rem;
    left: 2.5rem;
    border-radius: 1rem;
    padding: 1rem;
}

.orientacao__consultas {
    width: 2.75rem;
    height: 2.75rem;
    top: 2.5rem;
    left: 2.5rem;
    border-radius: 1rem;
    padding: 1rem;
}

.consultas__online h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-top: 1rem;
}

.marcacao_de_consultas h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-top: 1rem;
}

.receitas h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-top: 1rem;
}

.atestados__medicos h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-top: 1rem;
}

.orientacao h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-top: 1rem;
}

