@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("./navbar.css");
@import url(./sobre.css);


.sobre{
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    gap: 8rem;
}
    
.container{
    border: solid 2px var(--azul-primario);
    border-radius: 1.75rem;
    width: 72.875rem;
    height: 34.5rem;
}

.sobre_title {
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
    font-family: sans-serif;
    color: #3d3d3d;
}

.sobre_title em{
    background-image: linear-gradient(74deg, #a7e2ff 0%, #0095de 100%);
    background-clip: text;
    color: transparent;
}

.columns{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.left_column{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 1rem;
    position: relative;
}

.image_medica{
    width: 28rem;
    height: 21.5rem;
    border-radius: 1.25rem;
    margin-left: 4rem;
}

.right_column{
    display: flex;
    flex-direction: column;
    
    margin-top: 3rem;
    margin-right: 1rem;
}

.text{
    font-size: 1rem;
    font-family: var(--fonte);
    line-height: 1.5rem;
    color: #6D6D6D;
    width: 534px;
    height: 250px;
}

.sobre_button{  
    margin: 1.75rem 0rem;

    padding: 1.25rem 2.25rem;
    width: 50%;
    border-radius: 0.75rem;
    background: var(--azul-primario);
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
}

.funcion{

}

.title_func{
    text-align: center;
    margin-top: 3rem;
    font-size: 2.5rem;
    font-family: var(--fonte);
    color: var(--cor-fonte-primaria);
}

.title_func em{
    background-image: linear-gradient(74deg, #a7e2ff 0%, #0095de 100%);
    background-clip: text;
    color: transparent;
}

.desc_func{
    text-align: center;
    margin-top: 2.5rem;
    font-size: 1rem;
    font-weight: 15;
    line-height: 1.5rem;
    color: #b0b0b0;
}